{% extends 'layout.html' %}

{% block body %}

<section class="hero">
	<h1>Monitoramento de Ruido</h1>
</section>

<div class="container-fluid">

	<div class="row">
		<div class="col-sm-4">

			<div class="card shadow my-4">
				<div class="card-body">
					<form id="form">
						<div class="form-group">
							<label for="data">Data</label>
							<input id="data" name="data" class="form-control" type="date" value="{{ hoje }}" />
						</div>

						<button type="submit" class="btn btn-primary">Listar</button>
					</form>
				</div>
			</div>

		</div>
	</div>

	<div class="card shadow my-4">
		<div class="card-body" id="div-grafico"></div>
	</div>

</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
	"use strict";

	$("#form").validate({
		rules: {
			data: {
				required: true
			}
		},
		submitHandler: function () {
			atualizarDados();
		}
	});

	async function atualizarDados() {
		waitSwal();

		try {

			let dataFinal = document.getElementById("data").value;
			let dataInicial = (new Date((new Date(dataFinal)).getTime() - (6 * 24 * 60 * 60 * 1000))).toISOString().substring(0, 10)
			let response = await fetch("/obterDados?dataInicial=" + encodeURIComponent(dataInicial) + "&dataFinal=" + encodeURIComponent(dataFinal));

			if (response.ok) {

				Swal.close();

				let dados = await response.json();
				if (!dados || !dados.length) {
					Swal.fire("Erro", "Sem dados na data especificada!", "error");
					return;
				}

				let menorRuido = Infinity;
				let maiorRuido = -Infinity;
				for (let i = 0; i < dados.length; i++) {
					if (menorRuido > dados[i].ruido)
						menorRuido = dados[i].ruido;
					if (maiorRuido < dados[i].ruido)
						maiorRuido = dados[i].ruido;
				}

				let delta = maiorRuido - menorRuido;
				for (let i = 0; i < dados.length; i++) {
					dados[i].ruido = 100 * (dados[i].ruido - menorRuido) / delta;
				}

				let dias = [];
				let ultimoDia = null;
				for (let i = 0; i < dados.length; i++) {
					if (ultimoDia !== dados[i].dia) {
						ultimoDia = dados[i].dia;
						dias.push(ultimoDia);
					}
				}

				let html = [
					`
					<table>
						<thead>
							<tr>
								<th></th>
					`
				];

				for (let d = 0; d < dias.length; d++) {
					html.push(`<th>${dias[d]}</th>`);
				}

				html.push(`
					</tr>
					</thead>
					<tbody>
				`);

				for (let h = 0; h <= 23; h++) {
					html.push(`<tr><td>${h}:00</td>`);
					for (let d = 0; d < dias.length; d++) {
						let ruido = 0;
						for (let i = 0; i < dados.length; i++) {
							if (dados[i].dia === dias[d] && dados[i].hora === h) {
								ruido = dados[i].ruido;
								break;
							}
						}
						html.push(`<td style="background-color:rgba(113, 74, 152, ${ruido / 100});">${ruido.toFixed(1)}</td>`);
					}
					html.push(`</tr>`);
				}
				html.push(`</tbody></table>`);

				document.getElementById("div-grafico").innerHTML = html.join('');
			} else {
				await exibirErro(response);
			}

		} catch (ex) {
			Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
		}
	}

	atualizarDados();

</script>

{% endblock %}