{% extends 'layout.html' %}

{% block body %}

<section class="hero">
	<h1>Monitoramento de Luminosidade</h1>
</section>

<div class="container-fluid">

	<div class="row">
		<div class="col-sm-4">

			<div class="card shadow my-4">
				<div class="data">
					<form id="form">
						<div class="form-group">
							<label for="data">Data</label>
							<input id="data" name="data" class="form-control" type="date" value="{{ hoje }}" />
						</div>

						<button type="submit" class="btn btn-primary">Listar</button>
					</form>
				</div>
			</div>

		</div>
	</div>

	<section>
		<h2 class="textotitulo">Dados Disponíveis</h2>
		<div class="social-links-container d-flex flex-wrap justify-content-center">
			<div class="social-block text-center mx-3">
				<a href="" >
					<img src="/static/img/ruido.png" alt="Luminosidade" width="50" class="mb-2">
					<p>Ruido</p>
				</a>
			</div>
			<div class="social-block text-center mx-3">
				<a href="" >
					<img src="/static/img/temperatura.png" alt="Temperatura" width="50" class="mb-2">
					<p>Temperatura</p>
				</a>
			</div>
			<div class="social-block text-center mx-3">
				<a href="">
					<img src="/static/img/umidade.png" alt="Umidade" width="50" class="mb-2">
					<p>Umidade</p>
				</a>
			</div>
		</div>
	</section>


	<div class="card shadow my-4">
		<div class="card-body" id="div-grafico"></div>
	</div>

</div>

<!-- Scripts -->
<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
	"use strict";

	

</script>




{% endblock %}
